║тецо═мацро═филес█┼сынтаь═мунг═филес╛темп╛мацро█┼темп═ис═дирецторы╝ди█┼мацро═ис═тецо═мацро═╝те█┼я═регистер═уасаге╨█┼а┴темпораы█┼б┴ебфиле█┼м┴мацро═плацед═хере█┼н┴филе═наме╚сизес═етц═хере█┼р┴ерфиле█┼т┴темпорары█┼в┴ев═филе█┼ы┴усед█┼з┴дирецторы█┼║█┼з╒е│но═информатион═║│чц╖█┼й═╨с╛⌡╒еитемп╝ди╛⌡╖йс⌡═╝╛зьа═р╝╛зк█┼й╨с╝⌡╒езйи╝ди⌡╖й═иер⌡═зй═юи╞⌡╞═хьт═║ок═дирецторы═филе═реады║█┼хк═га╨с╝⌡╒езйи╝те⌡й═иер⌡═зй═юи╚⌡╚═хьа█┼║ок═фетцх═тхе═филес═║█┼ма═ы═хьм█┼мт═ы═хьз█┼║нов═лооп═фор═тхе═филес║█┼╪═хк═гзй══с╝⌡╟л╟╛╝к═█┼л╟╛╝ьн═╟╛╝к═хьз═хк═гн═й█┼═йс⌡═╡ц═юи╚⌡╚═╝╛зк█┼й╪с═⌡╜д╬█┼иев⌡хьв█┼╜дир⌡хьр█┼╜диб⌡хьб█┼═хк═мм═╬█┼еь█┼ ──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────