!TECO KEYBOARD MONITOR FOR PDP-8 V1 10-APR-79!
128,2048+8+1ET
@^U5/U9 27^T Q9^T /
@^U6/HK :G4
 <!GET! ^TU7
  Q7-3"E 0,2048ET ^^^^T ^^C^T 13^T 10^T :G4 OGET '
  Q7-13"E 13^T 13I 10I 10U7 Q7^T 0;'
  Q7-10"E 10^T 13^T ^^.^T HT OGET'
  Q7-21"E ^^^T ^^U^T 13^T ^^KM5 HK :G4 OGET'
  Q7-127"E ."E 13^T 10^T :G4 OGET ' -D 8^T 32^T 8^T OGET '
  Q7-27"E ^^$^T 13I 10I 0; '
  Q7-96"G Q7-123"L Q7^T Q7-32I OGET ' '
  Q7-25"E ^^^^T ^^Y^T ^C '
  Q7^T Q7I
 > /
!LOOP! ^U4.
M6
J0A-13"EHKOLOOP '
I$JOB
.LI.MUNG TECKBM
$JOB
.MUNG TECKBM
$END
EWTECKBM.TM
PWEFHK
EGSUBMIT TECKBM.TM/T/H
!END OF TECKBM.TEC!
