
TECO.TEC is not yet available for distribution, mainly
because the necessary hooks have not been put into the
OS/8 keyboard monitor.  When it becomes available,  an
announcement will be made in the TECO SIG's newsletter
The Moby Munger.

